# GlobalProperties:
db.allophonesDir ${project.buildDir}/allophones/
db.basenameFile ${project.buildDir}/basenames.lst
db.domain general
db.estDir ${project.speechToolsDir}
db.gender ${project.voice.gender}
db.halfphoneFeatureDir ${project.buildDir}/halfphonefeatures/
db.halfphoneLabDir ${project.buildDir}/halfphonelab/
db.hplabExtension .hplab
db.labDir ${project.buildDir}/lab/
db.labExtension .lab
db.locale ${project.voice.maryLocale}
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /path/to/marybase/
db.marybaseversion ${project.maryttsVersion}
db.maryxmlDir ${project.buildDir}/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir ${project.buildDir}/phonefeatures/
db.phoneLabDir ${project.buildDir}/phonelab/
db.pmDir ${project.buildDir}/pm/
db.pmExtension .pm
db.promptAllophonesDir ${project.buildDir}/prompt_allophones/
db.ptcDir ${project.buildDir}/ptc/
db.ptcExtension .ptc
db.rootDir ${project.buildDir}/
db.samplingrate 16000
db.textDir ${project.buildDir}/text/
db.textExtension .txt
db.vocalizationsDir ${project.buildDir}/vocalizations/
db.voicename ${project.voice.name}
db.wavDir ${project.buildDir}/wav/

# Properties for module PraatPitchmarker:
PraatPitchmarker.command ${project.praat}
PraatPitchmarker.maxPitch ${project.voice.gender == 'female' ? 500 : 300}
PraatPitchmarker.minPitch ${project.voice.gender == 'female' ? 100 : 75}
PraatPitchmarker.pmDir ${project.buildDir}/pm/
PraatPitchmarker.waveDir ${project.buildDir}/wav/

# Properties for module MCEPMaker:
MCEPMaker.mcepDir ${project.buildDir}/mcep/

# Properties for module Festvox2MaryTranscripts:
Festvox2MaryTranscripts.transcriptFile ${project.buildDir}/txt.done.data

# Properties for module AllophonesExtractor:
AllophonesExtractor.styleDefinitionFile 

# Properties for module EHMMLabeler:
EHMMLabeler.eDir ${project.buildDir}/ehmm/
EHMMLabeler.ehmmDir ${project.ehmmDir}
EHMMLabeler.nonDetEndFlag 0
EHMMLabeler.outputLabDir ${project.buildDir}/lab/
EHMMLabeler.promtallophonesDir ${project.buildDir}/prompt_allophones/
EHMMLabeler.reTrainFlag false
EHMMLabeler.startEHMMModelDir /

# Properties for module HTKLabeler:
HTKLabeler.awkbin /usr/bin/awk
HTKLabeler.htDir ${project.buildDir}//htk/
HTKLabeler.htkDir ${project.htkDir}
HTKLabeler.maxNoOfIterations 150
HTKLabeler.maxshortPauseIteration 10
HTKLabeler.outputLabDir ${project.buildDir}//htk/lab/
HTKLabeler.promtallophonesDir ${project.buildDir}//prompt_allophones/

# Properties for module LabelPauseDeleter:
LabelPauseDeleter.eDir ${project.buildDir}/ehmm/
LabelPauseDeleter.outputLabDir ${project.buildDir}/lab/
LabelPauseDeleter.pauseDurationThreshold 100

# Properties for module LabelledFilesInspector:

# Properties for module PhoneUnitLabelComputer:

# Properties for module HalfPhoneUnitLabelComputer:
HalfPhoneUnitLabelComputer.energyBasedTransientSplitting false

# Properties for module TranscriptionAligner:

# Properties for module FeatureSelection:
FeatureSelection.featureFile ${project.legacyBuildDir}/features.txt
FeatureSelection.maryServerHost localhost
FeatureSelection.maryServerPort 59125

# Properties for module PhoneUnitFeatureComputer:
PhoneUnitFeatureComputer.allophonesDir ${project.buildDir}/allophones/
PhoneUnitFeatureComputer.featureDir ${project.buildDir}/phonefeatures/
PhoneUnitFeatureComputer.featureFile ${project.legacyBuildDir}/features.txt
PhoneUnitFeatureComputer.maryServerHost localhost
PhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module HalfPhoneUnitFeatureComputer:
HalfPhoneUnitFeatureComputer.allophonesDir ${project.buildDir}/allophones/
HalfPhoneUnitFeatureComputer.featureDir ${project.buildDir}/halfphonefeatures/
HalfPhoneUnitFeatureComputer.featureFile ${project.legacyBuildDir}/features.txt
HalfPhoneUnitFeatureComputer.maryServerHost localhost
HalfPhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module PhoneLabelFeatureAligner:

# Properties for module HalfPhoneLabelFeatureAligner:

# Properties for module WaveTimelineMaker:
WaveTimelineMaker.waveTimeline ${project.legacyBuildDir}/timeline_waveforms.mry

# Properties for module BasenameTimelineMaker:
BasenameTimelineMaker.timelineFile ${project.legacyBuildDir}/timeline_basenames.mry

# Properties for module MCepTimelineMaker:
MCepTimelineMaker.mcepDir ${project.buildDir}/mcep/
MCepTimelineMaker.mcepTimeline ${project.legacyBuildDir}/timeline_mcep.mry

# Properties for module PhoneUnitfileWriter:
PhoneUnitfileWriter.unitFile ${project.legacyBuildDir}/phoneUnits.mry

# Properties for module PhoneFeatureFileWriter:
PhoneFeatureFileWriter.featureDir ${project.buildDir}/phonefeatures/
PhoneFeatureFileWriter.featureFile ${project.legacyBuildDir}/phoneFeatures.mry
PhoneFeatureFileWriter.unitFile ${project.legacyBuildDir}/phoneUnits.mry
PhoneFeatureFileWriter.weightsFile ${project.legacyBuildDir}/phoneUnitFeatureDefinition.txt

# Properties for module DurationCARTTrainer:
DurationCARTTrainer.durTree ${project.legacyBuildDir}/dur.tree
DurationCARTTrainer.featureFile ${project.legacyBuildDir}/phoneFeatures.mry
DurationCARTTrainer.isHnmTimeline false
DurationCARTTrainer.stepwiseTraining false
DurationCARTTrainer.unitFile ${project.legacyBuildDir}/phoneUnits.mry
DurationCARTTrainer.waveTimeline ${project.legacyBuildDir}/timeline_waveforms.mry

# Properties for module F0CARTTrainer:
F0CARTTrainer.f0LeftTreeFile ${project.legacyBuildDir}/f0.left.tree
F0CARTTrainer.f0MidTreeFile ${project.legacyBuildDir}/f0.mid.tree
F0CARTTrainer.f0RightTreeFile ${project.legacyBuildDir}/f0.right.tree
F0CARTTrainer.featureFile ${project.legacyBuildDir}/phoneFeatures.mry
F0CARTTrainer.isHnmTimeline false
F0CARTTrainer.stepwiseTraining false
F0CARTTrainer.unitFile ${project.legacyBuildDir}/phoneUnits.mry
F0CARTTrainer.waveTimeline ${project.legacyBuildDir}/timeline_waveforms.mry

# Properties for module HalfPhoneUnitfileWriter:
HalfPhoneUnitfileWriter.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry

# Properties for module HalfPhoneFeatureFileWriter:
HalfPhoneFeatureFileWriter.featureDir ${project.buildDir}/halfphonefeatures/
HalfPhoneFeatureFileWriter.featureFile ${project.legacyBuildDir}/halfphoneFeatures.mry
HalfPhoneFeatureFileWriter.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry
HalfPhoneFeatureFileWriter.weightsFile ${project.legacyBuildDir}/halfphoneUnitFeatureDefinition.txt

# Properties for module F0PolynomialFeatureFileWriter:
F0PolynomialFeatureFileWriter.f0FeatureFile ${project.legacyBuildDir}/syllableF0Polynomials.mry
F0PolynomialFeatureFileWriter.featureFile ${project.legacyBuildDir}/halfphoneFeatures.mry
F0PolynomialFeatureFileWriter.interpolate true
F0PolynomialFeatureFileWriter.isHnmTimeline false
F0PolynomialFeatureFileWriter.maxPitch ${project.voice.gender == 'female' ? 500 : 300}
F0PolynomialFeatureFileWriter.minPitch ${project.voice.gender == 'female' ? 100 : 75}
F0PolynomialFeatureFileWriter.polynomOrder 3
F0PolynomialFeatureFileWriter.showGraph false
F0PolynomialFeatureFileWriter.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry
F0PolynomialFeatureFileWriter.waveTimeLine ${project.legacyBuildDir}/timeline_waveforms.mry

# Properties for module AcousticFeatureFileWriter:
AcousticFeatureFileWriter.acFeatDef ${project.legacyBuildDir}/halfphoneUnitFeatureDefinition_ac.txt
AcousticFeatureFileWriter.acFeatureFile ${project.legacyBuildDir}/halfphoneFeatures_ac.mry
AcousticFeatureFileWriter.contourFile ${project.legacyBuildDir}/syllableF0Polynomials.mry
AcousticFeatureFileWriter.featureFile ${project.legacyBuildDir}/halfphoneFeatures.mry
AcousticFeatureFileWriter.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry

# Properties for module JoinCostFileMaker:
JoinCostFileMaker.acfeatureFile ${project.legacyBuildDir}/halfphoneFeatures_ac.mry
JoinCostFileMaker.joinCostFile ${project.legacyBuildDir}/joinCostFeatures.mry
JoinCostFileMaker.mcepDir ${project.buildDir}/mcep/
JoinCostFileMaker.mcepTimeline ${project.legacyBuildDir}/timeline_mcep.mry
JoinCostFileMaker.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry
JoinCostFileMaker.weightsFile ${project.legacyBuildDir}/joinCostWeights.txt

# Properties for module CARTBuilder:
CARTBuilder.acFeatureFile ${project.legacyBuildDir}/halfphoneFeatures_ac.mry
CARTBuilder.callWagon false
CARTBuilder.cartFile ${project.legacyBuildDir}/cart.mry
CARTBuilder.featureSeqFile ${project.legacyBuildDir}/featureSequence.txt
CARTBuilder.maxLeafSize 10000000
CARTBuilder.mcepTimeline ${project.legacyBuildDir}/timeline_mcep.mry
CARTBuilder.numProcesses 1
CARTBuilder.readFeatureSequence true
CARTBuilder.topLevelTreeFile ${project.legacyBuildDir}/topLevel.tree
CARTBuilder.unitFile ${project.legacyBuildDir}/halfphoneUnits.mry

# Properties for module HMMVoiceDataPreparation:
HMMVoiceDataPreparation.adaptScripts false
HMMVoiceDataPreparation.userRawDirectory 
HMMVoiceDataPreparation.userUttDirectory 

# Properties for module HMMVoiceConfigure:
HMMVoiceConfigure.adaptF0Ranges 'bdl 40 210 clb 130 260 jmk 50 180 rms 40 200 slt 110 280'
HMMVoiceConfigure.adaptHead b05
HMMVoiceConfigure.adaptScripts false
HMMVoiceConfigure.adaptSpkr slt
HMMVoiceConfigure.adaptSpkrMask */cmu_us_arctic_%%%_*
HMMVoiceConfigure.adaptTrainSpkr 'bdl clb jmk rms'
HMMVoiceConfigure.adaptTransKind feat
HMMVoiceConfigure.adaptTreeKind dec
HMMVoiceConfigure.configureFile ${project.buildDir}/hts/configure
HMMVoiceConfigure.dataSet cmu_us_arctic
HMMVoiceConfigure.fftLen 512
HMMVoiceConfigure.frameLen 400
HMMVoiceConfigure.frameShift 80
HMMVoiceConfigure.freqWarp 0.42
HMMVoiceConfigure.gamma 0
HMMVoiceConfigure.lf0BandWidth 1
HMMVoiceConfigure.lnGain 1
HMMVoiceConfigure.lowerF0 110
HMMVoiceConfigure.mgcBandWidth 35
HMMVoiceConfigure.mgcOrder 34
HMMVoiceConfigure.normalize 1
HMMVoiceConfigure.numIterations 5
HMMVoiceConfigure.numState 5
HMMVoiceConfigure.numTestFiles 5
HMMVoiceConfigure.questionsNum 001
HMMVoiceConfigure.sampfreq 16000
HMMVoiceConfigure.speaker slt
HMMVoiceConfigure.strBandWidth 5
HMMVoiceConfigure.strFilterFileName filters/mix_excitation_5filters_99taps_16Kz.txt
HMMVoiceConfigure.strOrder 5
HMMVoiceConfigure.upperF0 280
HMMVoiceConfigure.version 1
HMMVoiceConfigure.windowType 1

# Properties for module HMMVoiceFeatureSelection:
HMMVoiceFeatureSelection.featureFile ${project.legacyBuildDir}/features.txt
HMMVoiceFeatureSelection.hmmFeatureFile ${project.legacyBuildDir}/hmmFeatures.txt

# Properties for module HMMVoiceMakeData:
HMMVoiceMakeData.adaptScripts false
HMMVoiceMakeData.featureListFile mary/hmmFeatures.txt
HMMVoiceMakeData.featureListMapFile mary/hmmFeaturesMap.txt
HMMVoiceMakeData.makeCMPMARY 1
HMMVoiceMakeData.makeLABELMARY 1
HMMVoiceMakeData.makeLF0 1
HMMVoiceMakeData.makeLIST 1
HMMVoiceMakeData.makeMGC 1
HMMVoiceMakeData.makeQUESTIONSMARY 1
HMMVoiceMakeData.makeSCP 1
HMMVoiceMakeData.makeSTR 1
HMMVoiceMakeData.questionsFile hts/data/questions/questions_qst001.hed
HMMVoiceMakeData.questionsUttFile hts/data/questions/questions_utt_qst001.hed
HMMVoiceMakeData.trickyPhonesFile mary/trickyPhones.txt

# Properties for module HMMVoiceMakeVoice:

# Properties for module VoiceCompiler:
VoiceCompiler.compileDir ${project.legacyBuildDir}/voice-${project.voice.name}/

# Properties for module HMMVoiceCompiler:
HMMVoiceCompiler.compileDir ${project.legacyBuildDir}/voice-${project.voice.name}/

